.Transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 9;

  &--active {
    @extend .Transition;
  }

  &--deactive {
    @extend .Transition;
    display: none;
  }
  &__loader {
    height: 100vh;
    display: grid;
    &__bp3-spinner {
      height: 100vh;
    }
  }
}
