@import "./vars.scss";

body {
  margin: 0;
  padding: $pt-navbar-height 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, "Courier New", monospace;
}

#root {
  height: 100vh;
  > div {
    height: 100vh;
  }
}
